<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <input
    type="text"
    name="login"
    id="login"
    placeholder="Login"
    formControlName="login"
  />
  <span
    class="err-text"
    *ngIf="form.get('login')!.invalid && form.get('login')!.touched"
    >Required</span
  >
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Password"
    formControlName="password"
  />
  <span
    class="err-text"
    *ngIf="form.get('password')!.invalid && form.get('password')!.touched"
    >Required</span
  >
  <button type="submit" [disabled]="form.invalid || form.disabled">
    Login
  </button>
  <p>Don't have an account? <i routerLink="/register">Register</i></p>
</form>
