footer {
  position: fixed;
  bottom: 0;
  width: 960px;
  height: 150px;
  background: #e37f7f;
  border: #e03a3a 4px solid;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 14px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 10px;
}
