<div class="header">
  <div class="logo" routerLink="/">
    <h1>Librarian</h1>
    <img
      src="../../../assets/img/Logo.png"
      alt=""
      width="50px"
      height="50px"
      routerLink="/"
    />
  </div>
  <div class="nav">
    <h3 class="books">Книги</h3>
    <h3
      class="library"
      routerLink="/login"
      *ngIf="!this.auth.isAuthenticated()"
    >
      Моя библиотека
    </h3>
    <h3
      class="library"
      [routerLink]="'/user/{{getUser().id}}/library'"
      *ngIf="this.auth.isAuthenticated()"
    >
      Моя библиотека
    </h3>
  </div>
  <div class="auth" routerLink="/login" *ngIf="!this.auth.isAuthenticated()">
    <h3 class="login">Войти</h3>
    <img src="../../../assets/img/User.png" alt="" width="50px" height="50px" />
  </div>
  <div class="auth login" *ngIf="this.auth.isAuthenticated()">
    <h3 class="login" [routerLink]="'/user/' + getUser().id + '/profile'">
      {{ getUser().name }}
    </h3>
    <img [src]="getUser().avatarUrl" alt="" width="50px" height="50px" />
    <ul class="dropdown">
      <li
        class="ddBtn"
        [routerLink]="'/user/' + getUser().id + '/profile/edit'"
      >
        Редактировать профиль
      </li>
      <li class="ddBtn" (click)="logOut()">Выйти</li>
    </ul>
  </div>
</div>
