<div class="content">
  <app-search-bar></app-search-bar>
  <div class="book">
    <div class="col1">
      <img src="https://via.placeholder.com/170x228" alt="" class="bookCover" />
      <div class="buttons">
        <input type="button" value="Читать" />
        <select name="bookStatus">
          <option value="Reading">Читаю</option>
          <option value="ReadLater">Прочту позже</option>
          <option value="Dropped">Не интересно</option>
          <option value="Remove">Удалить</option>
        </select>
        <p>
          <img
            src="../../../assets/img/Share.png"
            alt=""
            width="24px"
            height="24px"
          />
          &nbsp;
          <img
            src="../../../assets/img/Else.png"
            alt=""
            width="24px"
            height="24px"
          />
        </p>
      </div>
    </div>
    <div class="col2">
      <div>
        <h2>{{ book?.name }}</h2>
        <h3>{{ book?.authorId }}</h3>
        <h3>{{ book?.tags }}</h3>
      </div>
      <div class="viewsLikes">
        <img
          src="../../../assets/img/Views.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">0</span>
        <img
          src="../../../assets/img/Likes.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">0</span>
        <div class="pageBreak"></div>
        <img
          src="../../../assets/img/Tags.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">{{ book?.tags }}</span>
      </div>
      <div>
        <p class="headText">Описание</p>
        <p class="description">{{ book?.description }}</p>
      </div>
    </div>
  </div>
</div>
