<div class="content">
  <app-search-bar></app-search-bar>
  <div class="book undefined" *ngIf="book == undefined">
    <mat-spinner color="warn"></mat-spinner>
  </div>
  <div class="book" *ngIf="book != undefined">
    <div class="col1">
      <img
        [src]="
          book.coverUrl !== '' && book.coverUrl !== null
            ? book.coverUrl
            : 'https://via.placeholder.com/170x228'
        "
        alt=""
        width="170px"
        height="228px"
        class="bookCover"
      />
      <div class="buttons">
        <input
          type="button"
          value="Читать"
          [disabled]="chapters == undefined || chapters.length < 1"
          (click)="read()"
        />
        <select
          name="bookStatus"
          #library
          (change)="libraryControl(library.value)"
          [disabled]="user == undefined"
        >
          <option>Сохранить</option>
          <option value="Reading">Читаю</option>
          <option value="ReadLater">Прочту позже</option>
          <option value="Dropped">Не интересно</option>
        </select>
        <p>
          <img
            src="../../../assets/img/Share.png"
            alt=""
            width="24px"
            height="24px"
            class="iconBtn"
          />
          &nbsp;
          <img
            src="../../../assets/img/Else.png"
            alt=""
            width="24px"
            height="24px"
            class="iconBtn"
          />
          &nbsp;
          <img
            src="../../../assets/img/Edit.png"
            alt=""
            width="24px"
            height="24px"
            *ngIf="user?.id === author.id"
            class="iconBtn"
          />
          &nbsp;
          <img
            src="../../../assets/img/Delete.png"
            alt=""
            width="24px"
            height="24px"
            *ngIf="user?.id === author.id"
            class="iconBtn"
            (click)="confirmDelete()"
          />
        </p>
      </div>
    </div>
    <div class="col2">
      <div>
        <h2>{{ book.name }}</h2>
        <h3 class="author" [routerLink]="'/user/' + author.id + '/profile'">
          {{ author.name }}
        </h3>
        <h3>{{ book.tags }}</h3>
      </div>
      <div class="viewsLikes">
        <img
          src="../../../assets/img/Views.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">0</span>
        <img
          src="../../../assets/img/Likes.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">0</span>
        <div class="pageBreak"></div>
        <img
          src="../../../assets/img/Tags.png"
          alt=""
          width="24px"
          height="24px"
        />
        <span class="headText">{{ book.tags }}</span>
      </div>
      <div>
        <p class="headText">Описание</p>
        <p class="description">{{ book.description }}</p>
      </div>
    </div>
  </div>
  <div class="misc" *ngIf="book != undefined">
    <div class="tabs">
      <!-- prettier-ignore -->
      <div
        [ngClass]="{
          'tab' : true,
          'selected' : tab === 'comments'
        }"
        (click)="changeTab('comments')"
      >
        <p>Комментарии</p>
      </div>
      <!-- prettier-ignore -->
      <div
        (click)="changeTab('chapters')"
        [ngClass]="{
          'tab' : true,
        'selected' : tab === 'chapters'
      }"
      >
        <p>Оглавление</p>
      </div>
      <!-- prettier-ignore -->
      <div
        (click)="changeTab('addChapter')"
        [ngClass]="{
          'tab' : true,
          'selected' : tab === 'addChapter'
        }"
        *ngIf="user != undefined && user?.id == author.id"
      >
        <p>Добавить главу +</p>
      </div>
    </div>
    <div class="bookPageContent" *ngIf="tab === 'comments'">
      <form
        [formGroup]="reviewsForm"
        (ngSubmit)="addReview()"
        class="reviewsForm"
      >
        <input
          formControlName="reviewText"
          placeholder="Введите комментарий"
          class="reviewInput"
        />
        <button type="submit" class="submitButton reviewButton">
          Отправить
        </button>
      </form>
      <div class="reviewsList undefined" *ngIf="reviews == undefined">
        <mat-spinner color="warn"></mat-spinner>
      </div>
      <div class="reviewsList" *ngIf="reviews != undefined">
        <app-review-line
          *ngFor="let review of reviews"
          [review]="review"
        ></app-review-line>
      </div>
      <mat-paginator
        *ngIf="reviwsCount > 10"
        class="paginator"
        (page)="pageEvent($event)"
        [length]="reviwsCount"
        [pageSize]="10"
        showFirstLastButtons="true"
        hidePageSize="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      ></mat-paginator>
      <mat-paginator
        *ngIf="reviwsCount <= 10"
        class="paginator"
        disabled="true"
        (page)="pageEvent($event)"
        [length]="reviwsCount"
        [pageSize]="10"
        showFirstLastButtons="true"
        hidePageSize="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      ></mat-paginator>
    </div>
    <div class="bookPageContent" *ngIf="tab === 'chapters'">
      <div class="chapterList undefined" *ngIf="chapters == undefined">
        <mat-spinner color="warn"></mat-spinner>
      </div>
      <div
        class="chapterList"
        *ngIf="chapters.length != 0 && chapters != undefined"
      >
        <app-chapter-line
          *ngFor="let chapter of chapters; index as index"
          [chapter]="chapter"
          [index]="index"
        ></app-chapter-line>
      </div>
      <div class="noChapters" *ngIf="chapters.length === 0">
        <p>В данной книге пока нет ни одной главы</p>
      </div>
    </div>
    <div class="bookPageContent" *ngIf="tab === 'addChapter'">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="addChapterForm">
        <div>
          <h2>Название главы:</h2>
          <input
            type="text"
            class="addChapterName"
            placeholder="Название"
            formControlName="name"
          />
          <span
            class="err-text"
            *ngIf="form.get('name')!.invalid && form.get('name')!.touched"
            >Название обязательно</span
          >
        </div>
        <div>
          <h3>Текст:</h3>
          <textarea class="addChapterText" formControlName="text"></textarea>
          <span
            class="err-text"
            *ngIf="form.get('text')!.invalid && form.get('text')!.touched"
            >Глава не может быть пустой</span
          >
        </div>
        <button type="submit" class="submitButton">Добавить главу</button>
      </form>
    </div>
  </div>
</div>
