<div class="content">
    <app-search-bar></app-search-bar>

    <div class="recomend">
        <div class="col1">
            <div class="popular case case__1">
                <h3 class="title">Popular</h3>
                <div class="case__content">
                    1
                </div>
            </div>
            <div class="popular case case__2">
                <h3 class="title">New</h3>
                <div class="case__content">
                    1
                </div>
            </div>
            <div class="popular case case__3">
                <h3 class="title">Genres</h3>
                <div class="case__content">
                    1
                </div>
            </div>
            <div class="popular case case__4">
                <h3 class="title">Updates</h3>
                <div class="case__content">
                    1
                </div>
            </div>
            <div class="popular case case__5">
                <h3 class="title">Bestsellers</h3>
                <div class="case__content">
                    1
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="misc case">
                <h3 class="title">Misc</h3>
                <div class="case__content">
                    1
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="myBooks bookCase">
                <div>
                    <h3>Followed Authors</h3>
                    <div>
                        1
                    </div>
                </div>
                <div>
                    <h3>Your Updates</h3>
                    <div>
                        2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>