.recomend {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.col1 {
  width: 770px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col2 {
  width: 180px;
  height: 100%;
}
.case {
  background: #fff;
  border: #de3a3a 4px solid;
  border-radius: 15px;
  padding: 10px;
}
.case__content {
  height: 300px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.bookCase {
  background: #e03a3a;
  border-radius: 15px;
  padding: 5px;
}
.bookCase div {
  background: #ab2c2c;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
.title {
  color: #aaaaaa;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  height: 65px;
  overflow: auto;
}
.tag {
  transition: all 0.2s linear;
  color: rgb(70, 70, 70);
}
.tag:hover {
  color: #e03a3a;
  text-shadow: 0 0 1px #e03a3a;
  cursor: pointer;
}
.misc {
  width: 180px;
}
.miscCase {
  height: auto;
  overflow: auto;
}
.misc .case__content {
  flex-wrap: wrap;
  align-items: center;
}
