<div class="content">
  <app-search-bar></app-search-bar>

  <div class="recomend">
    <div class="col1">
      <div class="popular case case__1">
        <h3 class="title">Популярное</h3>
        <div class="case__content">
          <app-book-card
            *ngFor="let book of popular"
            [book]="book"
          ></app-book-card>
        </div>
      </div>
      <div class="popular case case__2">
        <h3 class="title">Новое</h3>
        <div class="case__content">
          <app-book-card
            *ngFor="let book of newBooks"
            [book]="book"
          ></app-book-card>
        </div>
      </div>
      <div class="popular case case__3">
        <h3 class="title">Жанры</h3>
        <div class="case__content tags">
          <span class="tag" *ngFor="let tag of tagList">{{ tag }}</span>
        </div>
      </div>
      <div class="popular case case__4">
        <h3 class="title">Обновления</h3>
        <div class="case__content">
          <div class="case__content">
            <app-book-card
              *ngFor="let book of updates"
              [book]="book"
            ></app-book-card>
          </div>
        </div>
      </div>
      <div class="popular case case__5">
        <h3 class="title">Бестселлеры</h3>
        <div class="case__content">
          <div class="case__content">
            <app-book-card
              *ngFor="let book of bestsellers"
              [book]="book"
            ></app-book-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col2">
      <div class="misc case">
        <h3 class="title">Разное</h3>
        <div class="case__content">1</div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
